/* 全体レイアウト */
.attendance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 60px;
}

/* 見出し */
h1 {
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
    border-left: 8px solid #000000;
    padding-left: 12px;

}

/* ヘッダー（日付・詳細リンク） */
.attendance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.day-link {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 15%;
    text-decoration: none;
    color: #737373;
}

.detail {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 15%;
    color: #000;
    text-decoration: none;
}

.attendance-table {
    margin-top: 30px;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* 勤怠テーブル */
.attendance-table th,
.attendance-table td {
    border: none;
    text-align: center;
    padding: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 15%;
    color: #737373;
}

.attendance-table thead tr {
    border-bottom: 2px solid #ccc;
}

.attendance-table tbody tr {
    border-bottom: 1px solid #ccc;
}

/* タブレット (768〜850px) */
@media (min-width: 768px) and (max-width: 850px) {

    .center-wrapper {
        margin-top: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .attendance-table th,
    .attendance-table td {
        font-size: 12px;
    }

    .detail {
        font-size: 12px;
    }

}